<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CMPT291_Project" connectionString="Data Source=DESKTOP-HBN8747;Initial Catalog=CMPT291_Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication2.Properties.Settings.CMPT291_ProjectConnectionString"
            connectionString="Data Source=D20-BRANDON\SQLEXPRESS;Initial Catalog=CMPT291_Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Marshall_PC"
            connectionString="Data Source=MARSHALL-PC;Initial Catalog=CMPT291_Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
